<template>
    <Page>
        <ActionBar title="Iniciar sesión!"/>
        <FlexboxLayout flexDirection="column" backgroundColor="#fff" class="userBox" >
            <Image class="image" src="https://art.nativescript-vue.org/NativeScript-Vue-White-Green.png" stretch="none" />
            <Label class="usuario" :text="user"/>
            <TextField v-model="userVal" :text="userVal" hint="username..." />
            <Label class="password" :text="pass"/>
            <TextField :secure="true" v-model="passVal" :text="passVal" hint="password..." />
            <Button class="login" text="Iniciar Sesion" @tap="onButtonTap" />
        </FlexboxLayout>
    </Page>
</template>

<script>
    import Inicio from '../main/index.vue';
    import { LoginRequest } from '../../end_points';
    import { DATA_USER } from '../../constants';
    import notification from '../../components/notification'
    const localStorage = require( "nativescript-localstorage" );

    export default {
        data() {
            return {
                msg: 'Hello World!',
                user: 'Usuario',
                pass: 'Contraseña',
                userVal: '',
                passVal: '',
            }
        },
        methods: {
            onButtonTap() {
                LoginRequest(this.userVal, this.passVal).then(exist => {
                    if (exist) {
                    localStorage.setItem(DATA_USER, JSON.stringify({
                        user: this.userVal,
                    }));
                    this.$navigateTo(Inicio);
                    } else {
                        notification('Usuario no identificado u contraseña incorrecta');
                    }
                });
            }
        }
        
    }

</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .usuario {
        font-size: 16;
    }

    .password {
        font-size: 16;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .image {
        margin-top: 5px;
        margin-left: 25%;
    }

    .login {
        background-color: #94d19e;
        color: #ffffff;
        margin-top: 50px;
    }

    .userBox {
        margin-top: 15%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .respuesta {
        font-size: 20px;
    }
</style>
