<template>
    <Page>
        <ActionBar title="Agregar Usuario"/>
        <FlexboxLayout flexDirection="column" backgroundColor="#fff" class="userBox" >
            <Label class="usuario" :text="user"/>
            <TextField v-model="usuario" :text="usuario" hint="Usuario" />

            <Label class="nombres" :text="user"/>
            <TextField v-model="nombres" :text="nombres" hint="Nombres" />

            <Label class="contrasena" :text="pass"/>
            <TextField :secure="true" v-model="contrasena" :text="contrasena" hint="*********" />

            <Label class="E-mail" :text="user"/>
            <TextField v-model="correo" :text="correo" hint="correo" />

            <Button text="Agregar Usuario" @tap="addUser" />
        </FlexboxLayout>
    </Page>
</template>

<script>
    import Inicio from '../index.vue';
    import { AddUser } from '../../../end_points';
    import notification from '../../../components/notification'

    export default {
        data() {
            return {
                usuario: '',
                nombres: '',
                contrasena: '',
                userVal: '',
                passVal: '',
            }
        },
        methods: {
            addUser() {
                const dataObject = {
                    usuario: this.usuario || false,
                    nombres: this.nombres || false,
                    contrasena: this.contrasena || false,
                    correo: this.correo || false
                };

                let isValid = true;

                Object.keys(dataObject).forEach(e => {
                    if (!dataObject[e]) {
                        isValid = false;
                    }
                })

                if (isValid) {
                    AddUser(dataObject)
                        .then((result) => {
                            this.usuario = '';
                            this.nombres = '';
                            this.contrasena = '';
                            this.correo = '';
                        }).catch((err) => {
                            console.log('err :', err);
                        });
                } else {
                    notification('Por favor no deje vacio ningun campo.');
                }
            }
        }
        
    }

</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .userBox {
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .respuesta {
        font-size: 20px;
    }
</style>
