<template>
    <Page>
        <ActionBar title="Editar Usuario"/>
        <FlexboxLayout flexDirection="column" backgroundColor="#fff" class="userBox" >
            <TextField v-model="user" :text="user" :hint="user" />

            <TextField v-model="nombres" :text="nombres" :hint="nombres" />

            <TextField v-model="correo" :text="correo" :hint="correo" />

            <TextField :secure="true" v-model="contrasena" :text="contrasena" hint="Cambiar Contraseña" />

            <TextField :secure="true" v-model="contrasena2" :text="contrasena2" hint="Confirmar Contraseña" />

            <Button class="update" text="Actualizar Usuario" @tap="updateUsers" />
        </FlexboxLayout>
    </Page>
</template>

<script>
    import { updateUser } from '../../../end_points';
    import notification from '../../../components/notification';
    import Usuario from '../../../components/usuario';

    export default {
        props: ['usuarios', 'isClose'],
        data() {
            return {
                id: this.usuarios.id,
                user: this.usuarios.usuario,
                correo: this.usuarios.correo,
                contrasena: '',
                contrasena2: '',
                nombres: this.usuarios.nombres,
            }
        },
        methods: {
            updateUsers() {
                const passwordObj = {
                    contrasena: this.contrasena,
                    contrasena2: this.contrasena2
                }

                const dataObject = {
                    id: this.id,
                    usuario: this.user || false,
                    nombres: this.nombres || false,
                    correo: this.correo || false
                };

                let isValid = { v: true, message: '' };

                Object.keys(dataObject).forEach(e => {
                    if (!dataObject[e]) {
                        isValid = { v: false, message: 'Por favor no deje vacio ningun campo' };
                    }
                })

                Object.keys(passwordObj).forEach(e => {
                    if (this.contrasena !== '') {
                        if (this.contrasena2 !== this.contrasena) {
                            isValid = { v: false, message: 'Las contraseñas no coinciden, vuelva a intentarlo' };
                        } else {
                            if (e === 'contrasena') {
                                dataObject[e] = passwordObj[e];
                            }
                        }
                    }
                });

                if (isValid.v) {
                    updateUser(dataObject)
                        .then(() => {
                            this.isClose();
                            this.$modal.close();
                            
                        }).catch((err) => {
                            console.log('err :', err);
                        });
                } else {
                    notification(isValid.message);
                }
            }
        }
    }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .update {
        background-color: #2caf1d;
        color:#ffffff;
        margin-top: 20px; 
    }

    .usuario {
        padding-top: 10;
        padding-bottom: 10;
        font-size: 18;
    }

    .userBox {
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .respuesta {
        font-size: 20px;
    }
</style>
