<template>
    <Page>
        <ActionBar title="Lista de Usuarios"/>
        <FlexboxLayout flexDirection="column" backgroundColor="#fff" class="userBox" >
            <ListView for="list in listUser">
                <v-template>
                    <usuario :isDeleted="isDeleteFinish" :isUpdate="isUpdate" :usuario="list" />
                </v-template>
            </ListView>
        </FlexboxLayout>
    </Page>
</template>

<script>
    import { getUsers, deleteUser } from '../../../end_points';
    import notification from '../../../components/notification';
    import Usuario from '../../../components/usuario';
    import EditarUsuario from './editarUsuario.vue';

    export default {
        data() {
            return {
                listUser: [],
                selectedUser: {},
            }
        },
        components: {
            Usuario,
        },
        mounted() {
            this.onLoadApplication();
        },
        methods: {
            onLoadApplication() {
                console.log('acutalize :');
                getUsers()
                    .then((result) => {
                        this.listUser = result;
                    }).catch((err) => {
                        console.log('err :', err);
                    });
            },
            isDeleteFinish(data) {
                this.onLoadApplication();
            },
            isClose() {
                this.listUser = [];
                setTimeout(() => {
                    this.onLoadApplication();
                }, 1000);
            },
            isUpdate(user) {
                this.$showModal(EditarUsuario, {
                   props: {
                       usuarios: user,
                       isClose: this.isClose,
                   }
               });
            }
        }
    }

</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .delete {
        background-color: #f44242;
        color:#ffffff;
    }

    .usuario {
        padding-top: 10;
        padding-bottom: 10;
        font-size: 18;
    }

    .userBox {
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .respuesta {
        font-size: 20px;
    }
</style>
