<template>
   <Page>
      <ActionBar title="Bienvenido"/>
      <FlexboxLayout flexDirection="column">
        <Label class="welcome" :text="msg" />
        <Button class="button" @tap="altaUsuario" text="Alta Usuario" />
        <Button class="button" @tap="usuarios" text="Ver Usuarios"/>
        <Button class="salir" @tap="salir" text="Cerrar sesión"/>
      </FlexboxLayout>
    </Page>
</template>


<script>
    const localStorage = require( "nativescript-localstorage" );
    import Login from '../login/login.vue';
    import addUser from './altaUsuarios/agregar.vue';
    import Users from './altaUsuarios/usuarios.vue';

    export default {
        data() {
            return {
                msg: 'Bienvenido que acción deseas realizar'
            }
        },
        methods: {
            salir() {
                localStorage.clear();
                this.$navigateTo(Login, {
                    animated: true,
                    transition: {},
                    transitionIOS: {},
                    transitionAndroid: {
                        name: 'fade',
                        duration: 200,
                        curve: 'ease'
                    },
                    clearHistory: true
                });
            },
            altaUsuario() {
                this.$navigateTo(addUser);
            },
            usuarios() {
                this.$navigateTo(Users);
            }
        }
    }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .button {
        background-color: #94d19e;
        color: #ffffff;
        margin-top: 50px;
        padding-right: 20%;
        padding-left: 20%;
    }

    .salir {
        background-color: #7c0b25;
        color: #ffffff;
        margin-top: 40%;
        height: 200px;
    }

    .welcome {
        font-size: 16;
        color: #333333;
        vertical-align: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
