<template>
    <FlexboxLayout flexDirection="column">
        <Label class="usuario" :text="nombres"/>
        <Label class="usuario" :text="correo"/>
        <Label class="usuario" :text="user"/>

        <Button class="update" text="Editar Usuario" @tap="update" />
        <Button class="delete" text="Borrar usuario" @tap="eliminar" />
    </FlexboxLayout>
</template>

<script>
    import { getUsers, deleteUser } from '../end_points';
    import notification from './notification';

    export default {
        props: ['usuario', 'isDeleted', 'isUpdate'],
        data() {
            return {
                id: this.usuario.id,
                user: this.usuario.usuario,
                correo: this.usuario.correo,
                nombres: this.usuario.nombres,
                isFinishDelete: this.isDeleted,
            }
        },
        watch: {
            usuario(newValue, oldValue) {
                if (newValue !== oldValue) {
                    this.id = newValue.id;
                    this.user = newValue.usuario;
                    this.correo = newValue.correo;
                    this.nombres = newValue.nombres;
                }
            },
        },
        methods: {
            eliminar() {
                notification(`Esta Seguro que desea eliminar al usuario ${this.user}?`, 'Eliminar Usuario', {
                     actionAlert: true
                })
                    .then(() => {
                        deleteUser(this.id).then(() => {
                            console.log('se elimino :');
                            this.isFinishDelete(this.id);
                        });
                    });
            },
            update() {
                this.isUpdate(this.usuario);
            }
        }
    }

</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .delete {
        background-color: #f44242;
        color:#ffffff;
    }

    .update {
        background-color: #2caf1d;
        color:#ffffff;
    }

    .usuario {
        padding-top: 10;
        padding-bottom: 10;
        font-size: 18;
    }

    .userBox {
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .respuesta {
        font-size: 20px;
    }
</style>
