<template>
    <Page actionBarHidden="true">
        <FlexboxLayout flexDirection="column" backgroundColor="#000000" class="userBox" >
            <Image class="image" src="https://art.nativescript-vue.org/NativeScript-Vue-White-Green.png" stretch="aspectFit" />
        </FlexboxLayout>
    </Page>
</template>
<script>
    import Inicio from './main/index.vue';
    import Login from './login/login.vue';
    import { DATA_USER } from '../constants';
    const localStorage = require( "nativescript-localstorage" );

    export default {
        data() {
            return {
                msg: '',
            }
        },
        mounted() {
            this.onLoadApplication();
        },
        methods: {
            onLoadApplication() {                  
                setTimeout(()=> {
                    const { user } = JSON.parse(localStorage.getItem(DATA_USER)) || {};
                    if (user) {
                        this.$navigateTo(Inicio);
                    } else {
                        this.$navigateTo(Login);
                    }
                }, 2000);
            }
        }
    }

</script>

<style scoped>
    .image {
        margin-top: 25%;
    }

    .userBox {
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
